$free-width: true

.hero
    .hero-meta.with-labels
        @include container
        .reading-time
            order: -1
        &, .taxonomies > ul
            > li
                @include meta-alt
                span:first-of-type
                    @include meta
        @include media-breakpoint-down(desktop)
            &, .taxonomies > ul
                > li
                    border: none
                    // flex-direction: column
                    gap: space()
                    > ul
                        text-align: left
        @include media-breakpoint-up(desktop)
            padding-left: 0
            padding-right: 0
            &, .taxonomies > ul
                row-gap: $spacing-3 !important

@if $free-width
    .hero
        .hero-meta.with-labels
            @include media-breakpoint-up(desktop)
                width: columns(12) !important
                max-width: columns(12) !important
                &, .taxonomies > ul
                    row-gap: $spacing-3
                    // > li
                    //     width: auto
                    //     &.taxonomies
                    //         width: auto
                        &.social-share
                            order: 3