.hero-meta
    .reading-time
        order: -1
    @include media-breakpoint-down(desktop)
        .reading-time
            border-top: 0
            border-bottom: var(--border-width) solid var(--color-border)