[class^="orejime-"]
  font-size: var(--body-size)

.orejime-Env
  --orejime-font-family: #{$body-font-family}
  --orejime-color-background: var(--color-background)
  --orejime-color-text: var(--color-text)
  --orejime-color-interactive: var(--color-accent)
  --orejime-radius: 0

.orejime-Button
  font-family: var(--btn-font-family)
  border-radius: var(--btn-border-radius)
  font-size: var(--btn-font-size)
  padding: var(--btn-padding)
  line-height: var(--btn-line-height)

