.search-form
  display: flex
  align-items: center
  margin-inline: $spacing-2
  max-width: pxToRem(280)

  @include media-breakpoint-down(desktop)
    display: none

  @include media-breakpoint-down(xl)
    margin-inline: $spacing-1
    max-width: pxToRem(200)

  @include media-breakpoint-down(lg)
    position: fixed
    bottom: 0
    left: 50%
    margin: 0
    padding: pxToRem(9) pxToRem(20)
    transform: translateX(-50%)
    background-color: $color-background
    z-index: 1

  &-input
    max-width: 100%

    input[type="search"]
      width: 100%
      margin: 0
      padding: $spacing-1
      padding-right: $spacing-4
      font-size: pxToRem(16)

      @include media-breakpoint-down(lg)
        display: none

  &-button
    button[type="submit"]
      @extend .button-alt
      @include button-icon(search-line)

      background-color: var(--color-text)

      @include media-breakpoint-up(desktop)
        min-width: auto
        margin-left: -$spacing-3
        padding: pxToRem(14) space(4)

.search-button--custom-menu
  @include button-icon(search-line)

  display: flex
  flex-direction: column-reverse
  justify-content: center
  gap: pxToRem(10)
  font-size: pxToRem(13)
  font-family: DMSans, sans-serif
  @include media-breakpoint-down(desktop)
    width: pxToRem(77)
  @include media-breakpoint-up(desktop)
    margin-top: pxToRem(3)

  &::after
    font-size: pxToRem(20)
    line-height: 0.6

    @include media-breakpoint-up(desktop)
      font-size: pxToRem(24)
      line-height: 1

  span
    @include media-breakpoint-up(desktop)
      border: 0 !important
      clip: rect(1px,1px,1px,1px) !important
      clip-path: inset(50%) !important
      height: 1px !important
      overflow: hidden !important
      padding: 0 !important
      margin: 0 !important
      position: absolute !important
      width: 1px !important
      white-space: nowrap !important
