.block.block-class-canteen-menu
  td:has(span)
    span
      display: block

    img
      width: pxToRem(20)
      @include media-breakpoint-up(md)
        width: pxToRem(32)

    ul
      display: flex
      flex-wrap: wrap
      column-gap: $spacing-1
      margin: 0
      padding: 0
      list-style: none
