.block-key_figures
  li
    > span:has(picture)
      text-transform: uppercase

      strong
        font-size: $block-key_figures-font-size

        @include media-breakpoint-up(desktop)
          font-size: $block-key_figures-font-size-lg