.block-organizations
  &.block-organizations--grid
    .organization
      @extend %grid-card
      display: flex
      flex-direction: column
      gap: 0

      .organization-content
        @extend %grid-card-content

        display: flex
        flex-direction: column

        .organization-chip
          order: -1
          margin-block: 0 space(4) !important
          z-index: 3

        .organization-title
          @include h3
          @include icon(arrow-right-line, before)
            @extend %grid-card-icon
          @include hover-translate-icon(before)

        .organization-summary
          font-size: var(--body-size)
          line-height: var(--body-line-height)
          margin-top: $spacing-2

    @include in-page-with-sidebar
      .grid
        @include grid(2, lg)