.block-organizations
  &.block-organizations--grid
    .organization
      @extend %grid-card
      display: flex
      flex-direction: column
      gap: 0

      .organization-content
        @extend %grid-card-content

        &::before
          @extend .chip
          content: $organization-custom-tag
          margin-bottom: space(4)

        .organization-title
          @include h3

          a
            @include icon(arrow-right-line, before)
              @extend %grid-card-icon
            @include hover-translate-icon(before)

        .organization-summary
          font-size: var(--body-size)
          line-height: var(--body-line-height)
          margin-top: $spacing-2
