<ul class="page-infos">
    {{ with .Params.contents_reading_time }}
        <li>
            <span class="page-infos-title">{{ i18n "posts.reading_time" }}</span>
            <span class="page-infos-detail">{{ .text }}</span>
        </li>
    {{ end }}

    {{ if .Date }}
        <li>
            <span class="page-infos-title">{{ i18n "dates.published" }}</span>
            <time class="page-infos-detail" datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date | time.Format site.Params.pages.date_format }}</time>
        </li>
    {{ end }}

    {{ if .Lastmod }}
        <li>
            <span class="page-infos-title">{{ i18n "dates.updated" }}</span>
            <time class="page-infos-detail" datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Lastmod | time.Format site.Params.pages.date_format }}</time>
        </li>
    {{ end }}

    {{ if eq site.Params.pages.single.taxonomies.position "hero" }}
        <li>
            {{- partial "taxonomies/single-list.html" . -}}
        </li>
    {{ end }}
</ul>
