main
    @include media-breakpoint-up(desktop)
        margin-bottom: space(44)

.heading
    @include in-page-with-sidebar
        h2
            @include h3
            font-weight: bold

.post-infos
    a
        color: inherit
        text-decoration-color: $color-accent
        text-decoration-thickness: pxToRem(2)

.post .post-categories, .post-categories
    a
        color: inherit
        text-decoration: none
        padding: space(2) space(3)
        background: $color-background-accent
        display: inline-block
        transition: background 0.35s
        &:hover
            background: $color-accent

.posts.posts--list
    @include media-breakpoint-down(desktop)
        article
            .post-content p:not(.title)
                display: block

.block-posts .list,
.posts.posts--list
    .media
        display: none
    @include in-page-without-sidebar
        article
            display: block
        .post-content
            @include grid(12, false, 0)
            width: 100%
            [itemprop='headline']
                @include h1
                font-weight: bold
            .post-meta
                position: relative
                grid-row: 2
                margin-top: $spacing-2
                text-align: left
                time
                    @include h3
            .post-categories
                margin-top: space(9)
            [itemprop='headline'], .post-meta, .post-categories
                grid-column: 7 span
                max-width: none
            [itemprop='abstract']
                grid-column: 5 span
                grid-row: 1 / 5 span
                order: 4
                max-width: none
.block-posts
    .categories--grid
        li
            overflow: hidden
            background: $color-background-accent
            border-radius: pxToRem(5)
            transition: background 0.35s
            @include media-breakpoint-up(xxl)
                padding: space(4) space(8)
            a
                @include body-text
            &:hover
                background: $color-accent
                &::after
                    transition: -webkit-text-stroke-color 0.35s
                    -webkit-text-stroke-color: $color-background-accent
            &::after
                -webkit-text-stroke-width: pxToRem(5)
                -webkit-text-stroke-color: $color-accent
                content: attr(data-title)
                position: absolute
                bottom: pxToRem(-25)
                font-size: pxToRem(120)
                left: 60%
                line-height: 1
                color: transparent
                white-space: nowrap
                font-weight: bold
                opacity: 0.15
            @include media-breakpoint-up(md)
                &::after
                    font-size: pxToRem(150)
                    left: 50%

.block-persons
    @include in-page-without-sidebar
        .persons
            grid-template-columns: repeat(3, 1fr) !important
            .person
                flex-direction: column
                gap: $spacing-3
                .description
                    text-align: center
                    @include body-text
                .avatar
                    align-self: center
                    width: 128px !important

.block-chapter
    @include in-page-with-sidebar
        &:not(:last-child)
            .chapter
                border-bottom: 1px solid $color-border
                padding-bottom: $spacing-5

.toc
    ol
        .active
            text-decoration: $color-accent underline

.menu
    @include media-breakpoint-up(desktop)
        .dropdown-menu
            padding-top: space(25)
            .dropdown-menu-title
                @include h1
                font-weight: normal
        .nav-level-2
            li
                margin-bottom: 0 !important
                > span, > a
                    line-height: pxToRem(54)
