{{ $taxonomies := .Params.taxonomies }}

<!-- Tag on top of title-->
{{ if $taxonomies }}
    {{ range $taxonomies }}
        {{ if and .categories (eq .slug site.Params.custom.pages.tag_taxonomy) }}
            {{ with .categories }}
                {{ range . }}

                    <a href="{{ .permalink }}" class="chip">
                        {{ safeHTML .name }}
                    </a>

                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

<!-- Pages infos -->
<ul>
    {{ with .Params.contents_reading_time }}
    <li class="reading-time">
        <span>{{ i18n "posts.reading_time" }}</span>
        {{ .text }}
    </li>
    {{ end }}

    {{ if .Date }}
    <li>
        <span>{{ i18n "dates.published" }}</span>
        <time datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date | time.Format site.Params.pages.date_format }}</time>
    </li>
    {{ end }}

    {{ if .Lastmod }}
    <li>
        <span>{{ i18n "dates.updated" }}</span>
        <time datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Lastmod | time.Format site.Params.pages.date_format }}</time>
    </li>
    {{ end }}

    {{ if eq site.Params.pages.single.taxonomies.position "hero" }}
        <li>
            {{- partial "taxonomies/single-list.html" . -}}
        </li>
    {{ end }}
</ul>

