{{ $kind := .kind }}
{{ $categories_kind := printf "%ss_categories" $kind }}
{{ $categories := .context.GetTerms $categories_kind }}

{{- if $categories -}}
  <ul class="{{ $kind }}-categories" aria-label="{{ i18n "categories.label" }}">
    {{- range $categories -}}
      {{ if not (strings.Contains .Slug site.Params.custom.pages.taxonomy_display_as_chip) }}
        <li>
          <a href="{{ .Permalink }}">
            {{- safeHTML .Title -}}
          </a>
        </li>
      {{ end }}
    {{- end }}
  </ul>
{{- end -}}