<!-- @DEV inspired by Osuny commons/logo.html-->
{{ $logo := . }}
{{ $file := false }}
{{ $file_darkmode := false }}
{{ if eq (printf "%T" $logo) "string" }}
    {{ $file = $logo }}
{{ else }}
    {{ $file = $logo.default }}
    {{ $file_darkmode = $logo.darkmode }}
{{ end }}

<a class="logo {{- if $file_darkmode }} with-darkmode {{ end -}}"
   href="{{ site.Params.custom.external_logo_link.url }}"
   title="{{ site.Params.custom.external_logo_link.title }}">

    {{ if $file }}
        {{ $fileDimensions := partial "GetImageDimensions" (dict "context" . "file" $file "static" true) }}
        <img src="{{ $file }}"
             alt="{{ site.Params.custom.external_logo_link.title }}"
             height="{{ index $fileDimensions 1 }}"
             width="{{ index $fileDimensions 0 }}">
        {{ if $file_darkmode }}
            {{ $fileDimensions := partial "GetImageDimensions" (dict "context" . "file" $file_darkmode "static" true) }}
            <img class="logo-darkmode"
                 src="{{ $file_darkmode }}"
                 alt="{{ site.Params.custom.external_logo_link.title }}"
                 height="{{ index $fileDimensions 1 }}"
                 width="{{ index $fileDimensions 0 }}">
        {{ end }}
    {{ else }}
        <span class="logo-text">{{ site.Params.custom.external_logo_link.title }}</span>
    {{ end }}
</a>
