<form role="search" class="search-form" accept-charset="UTF-8" action="{{ site.Params.custom.search_global.url }}" method="GET">
    {{ if site.Params.custom.search_global.index }}
        <input type="hidden" name="index" value="{{ site.Params.custom.search_global.index }}">
    {{ end }}

    <div class="search-form-input">
        <label for="search-input" class="sr-only">{{ i18n "custom.search.label" }}</label>
        <input id="search-input" type="search" minlength="3" required name="q" placeholder="{{ i18n "custom.search.placeholder" }}">
    </div>

    <input type="hidden" name="return_url" value="{{ .Permalink }}">

    <div class="search-form-button">
        <button type="submit" title="{{ i18n "custom.search.submit" }}">
            <span class="sr-only">{{ i18n "custom.search.submit" }}</span>
        </button>
    </div>
</form>
